.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #b1191a;
}
.reg_from {
    width: 600px;
    margin: 50px auto 0;
}
.reg_from ul li {
    margin: 20px auto 0;
}
.reg_from ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_from ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.password {
    display:hidden;
}
.error {
    color: red;
}
.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/error_icon.png) no-repeat;
    margin-top: -2px;
}
.success {
    color: green;
}
.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../images/success_icon.png) no-repeat;
    margin-top: -2px;
}
.safe {
    padding-left: 165px;
}
.safe em {
    padding: 0 12px;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #f79100;
}
.qiang {
    background-color: #40b83f;
}
.agree {
    padding-left: 100px;
}
.agree input {
vertical-align: middle;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 80px;
    border: 0;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}